.sign-up-wrapper {
  background-size: cover;
}

#height_adj_banner {
  height: calc(100vh - 102px);
}

.black_bgr {
  padding: 20px;
  background-color: rgba(0,0,0, 0.3);
}

.short_input {
  input {
    width: 100%;

  }

}
