// .btn-green {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #EBD8AC;
//   transition: background 0.3s ease;
//   font-weight: bolder;
//   margin-top: 15px;
// }


// .btn .btn-secondary {
//   padding: 100px;
//   margin-left: 50px;
// }

.btn-success {
  margin-top: 15px;
  padding: 10px;
  background-color: #ddac42;
  color: white;
  border-color: #ddac42;
  opacity: 0.8;
  border-radius: 5px;
}

.btn-success:hover {
  opacity: 1;
  background-color: #ddac42;
  border-color: #ddac42;

}

.btn-success:focus {
background-color: #ddac42;
    border-color: #ddac42;
}


.btn-submit {
  border-color: #EBD8AC;
  background-color: transparent;
  margin-top: 15px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.btn-submit:hover {
  background-color: #ddac42;
  opacity: 0.8;
  border-color: #ddac42;
  color: white;
}

.btn-submit:focus {
background-color: #ddac42;
    border-color: #ddac42;
}



.btn-dash {
  border: 2px solid #4A4A4A;
  padding: 8px 24px;
  color: #4A4A4A;
  border-radius: 50px;
  opacity: 0.7;
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn-search {
  background-color: transparent;
  margin-top: 16px;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

.btn-search:hover {
  background-color: #ddac42;
  opacity: 0.8;
  margin-top: 16px;
  padding: 10px;
  color: white;
  border-radius: 5px;

}


// .btn-light {
//   margin-top: 15px;
//   margin-left: 12px;
//   padding: 10px;
// }
 .btn-black {
  color: black;
 }

// .btn_index {
//   text-decoration: none;
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #e6a221;
//   transition: background 0.3s ease;
//   font-weight: bolder;
//   margin-top: 15px;
//   transition: background 0.3s ease;
//   width: 100%;
// }

// .btn_index:hover {
//   color: rgb(244,244,244);
//   text-decoration: none;
//   box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
//   transition: background 0.3s ease;

// }

// .btnn {
//   border-color: #EBD8AC;
//   margin-right: 23px;
//   margin-bottom: 10px;
// }

// .btnn:hover {
//   background-color: #EBD8AC;
// }



// .btn_one {
//   text-decoration: none;
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #ddac42;
//   transition: background 0.3s ease;
//   font-weight: bolder;
//   margin-top: 15px;
//   width: 100%;
// }




